<section id="about">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <img src="{{my_data['image']}}" alt="">
    </div>
    <div class="col-sm-12 col-md-8 info">
      <h1 class="site-banner__title">
        Hey, I’m {{my_data['name']}}.
      </h1>
      <h2 class="site-banner__subtitle">
        {{my_data['about']}}
      </h2>
    </div>
  </div>
  <div id="skills">
    <h1>skills</h1>
    <ul>
      <li> HTML5 </li>
      <li> CSS3 </li>
      <li> ES6 </li>
      <li> ReactJs </li>
      <li> Angular </li>
      <li> NodeJs </li>
      <li> MySql </li>
      <li> NoSql -> MongoDB </li>
    </ul>
  </div>
</section>
