@import "src/variables";

section#about {
  img {
    width: inherit;
  }

  div.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      font-size: $h1-size;
    }
    h2{
      font-size: $h2-size;
      color: $side-color;
    }
  }
}
