<section id="projects">
  <div class="row">
    <div class="col-sm-12 col-md-4" *ngFor="let project of projects">
      <figure class="figure">
        <img src="{{ project.images[0] }}" class="figure-img img-fluid" alt="{{project.name}} image">
        <figcaption class="figure-caption">
          <p>
            {{project.name}}
          </p>
          <a routerLink="/project/{{project.id}}"> See Details </a>
        </figcaption>
      </figure>
    </div>
  </div>

  <a href="https://github.com/Mahmoud-Mohamed-Elgamily"> <img src="assets/images/GHB.png" alt="" srcset=""> More on
    Github</a>
</section>
