<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Mahmoud</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" ngbNav #nav="ngbNav" >
      <li ngbNavItem >
        <a ngbNavLink routerLink="/">Home</a>
      </li>
      <li ngbNavItem >
        <a ngbNavLink routerLink="/project">Projects</a>
      </li>
      <li ngbNavItem >
        <a ngbNavLink routerLink="/#contacts">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>