@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

*{
  font-family: "Rubik",sans-serif;
}
nav{
  padding: 0.5rem 3rem;
  margin-bottom: 30px;
  ul{
    li{
      text-align: right;
    }
  }
}
