/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

img{
  border: 1px solid transparent;
  border-radius: 10px;
}

section{
  margin-bottom: 30px;
}